**/*.user
/*.suo
/Ankh.Load
/Ophyr.sln
/Storm.sln
/_ReSharper.Dawn of Light
/auto_version
/[dD]ebug
/no_versionning
/obj
/[rR]elease
/Dawn of Light - Working.sln
/Dawn of Light.sln.cache
/desktop.ini
/_patches
/.sonar
/TestResult.xml
/DOLBase/.sonar
/DOLConfig/.sonar
/DOLDatabase/.sonar
/DOLServer/.sonar
/GameServer/.sonar
/sonar-project.properties
/sonar-runner.bat
/sys$command
/UnitTests/.sonar
/GameServerScripts/.sonar
/.vs
/[pP]ackages
/[bB]uild
/DOLBase/bin
/DOLBase/obj
/DOLConfig/bin
/DOLConfig/obj
/DOLDatabase/bin
/DOLDatabase/obj
/DOLServer/bin
/DOLServer/obj
/GameServer/bin
/GameServer/obj
/GameServerScripts/bin
/GameServerScripts/obj
/IntegrationTests/bin
/IntegrationTests/obj
/IntegrationTests_Database/bin
/IntegrationTests_Database/obj
/UnitTests/bin
/UnitTests/obj